<h4>Search Products</h4>

<%= form_tag products_path, :method => 'get' do %>   
    <%= text_field_tag :search, params[:search] %>   
    <%= submit_tag "Search", name: nil %> </h4>
<% end %>
<br>
<%= link_to "Expensive Products" , products_expensive_path %>
<br>

<h1>All Products</h1>
<%= link_to 'Create Product', new_product_path %><br> <br>

<h3>Items sorted by category</h3>
<% @products.each do |product| %>
    
    <%= link_to product.name, product %><br>
    <%= link_to "Delete", product_path(product), method: :delete, class: "destroy", data: {confirm: "Are you sure?"} %><br>
    <%= link_to "Edit", edit_product_path(product) %><br><br>
   
    <% end %>