<h4>Category: <%= @product.category.title %> <br>
Name: <%= @product.name %> <br>
Description: <%= @product.description %> <br>
Price : $ <%= @product.price %> <br>
<%= link_to "Delete", product_path(@product), method: :delete, class: "destroy", data: {confirm: "Are you sure?"} %>
<%= link_to "Edit", edit_product_path(@product) %></h4>

